{{#with view}}

<div class="aside-left">

  {{#view Th.ScrollerView class="topcoat-list scroll-container" 
    tagName="ul" }}

    {{#unless selectingComingEvents}}
        {{#if selectedDate}}

            {{#view Th.CategoryView class="topcoat-list__item category-item" 
                tagName="li" 
                content="todos"
                selectedBinding="view._parentView._parentView.selectedCategory" }}

                <i class="category-icon icon-all"></i>
                <div class="category-item-desc">
                  Todos 
                </div>
             {{/view}}
        {{/if}}
    {{/unless}}

    {{#each category in categories}}

      {{#view Th.CategoryView class="topcoat-list__item category-item" 
          tagName="li" 
          contentBinding="category"
          selectedBinding="view._parentView._parentView.selectedCategory" }}


          {{view Th.FontIconView tagName="i" categoryBinding="category"}}
          <div class="category-item-desc">
            {{category.name}}
          </div>
      {{/view}}
    {{/each}}

    {{#each place in places}}
      {{#view Th.CategoryView class="topcoat-list__item category-item" 
          tagName="li" 
          contentBinding="place"
          action="selectPlace"
          selectedBinding="view._parentView._parentView.selectedPlace" }}
          <i class="category-icon icon-place"></i>
          <div class="category-item-desc">
            {{place.name}}
          </div>
      {{/view}}
    {{/each}}
  {{/view}}

</div>

{{#view Th.LandingAsideFrontView class="aside-front" 
  action="closeCategory" }}

  <div id="landing-header" class="light-header-bar header">


    {{#view Th.TapView class="header-block is-left" 
      action="goToCategory"}}
      <div class="header-button is-left icon-reorder"></div>
    {{/view}}

    <div class="header-block is-middle">
      <div class="header-logo-title">Territorio Huelva</div>
    </div>

    {{#if isSearch}}
        {{#view Th.TapView class="header-block is-right" 
          action="selectCalendar"}}
          <div class="header-button is-right icon-calendar"></div>
        {{/view}}
    {{else}}
        {{#view Th.TapView class="header-block is-right" 
          action="selectSearch"}}
          <div class="header-button is-right icon-search"></div>
        {{/view}}
    {{/if}}

  </div>

  <div id="action-section"> 

    {{#if isSearch}}

        <div class="search-section">
            {{view Th.SearchInputView tagName="input" class="font-default search-input" type="search" placeholder="Busca eventos y actividades" }}
        </div>

    {{else}}
        <div class="menu-tabs">
            {{#view Th.TapView class="menu-tab is-left" 
              action="goToDate"}}
                Elige fecha
                <span class="icon-angle-down"></span>
            {{/view}}
            {{#view Th.TapView class="menu-tab is-right" 
              action="selectComingEvents"}}
                Próximamente
                <span class="icon-angle-down"></span>
            {{/view}}
        </div>
    {{/if}}

  </div>

  <div id="show-info"> 

    <div id="show-info-category"> 
      {{selectionName}}
    </div>

    <div id="show-info-date"> 
      {{humanize "selectedDate"}}
    </div>
  </div>

  {{#view Th.ScrollerView class="topcoat-list__container scroll-container" 
    exclude="landing-header show-info action-section" }}

    {{#if isEventLoaded }}

      {{#if events.length }}

        <ul class="topcoat-list">

            {{#each event in events}}
              {{#view Th.EventView class="event-item topcoat-list__item" tagName="li" }}

                  <div class="event-title">

                    <div class="event-left">
                      {{#each category in event.categories}}
                        {{view Th.FontIconView tagName="i" categoryBinding="category"}}
                      {{/each}}
                    </div>

                    <div class="event-middle font-title">
                      {{event.title}}
                      {{#if event.place}}
                          <div class="event-place font-default">{{event.place}}</div>
                      {{/if}}
                    </div>

                    <div class="event-right">
                      {{#if view.isContentVisible }}
                        <div class="event-toggle-icon icon-collapse-alt"></div>
                      {{else}}
                        <div class="event-toggle-icon icon-expand-alt"></div>
                      {{/if}}
                    </div>

                  </div>
                  <div class="event-content">
                    {{{event.content}}}
                  </div>
              {{/view}}
            {{/each}}

        </ul>

      {{else}}

          <div class="empty-text">No hay eventos ni actividades para la búsqueda seleccionada <span class="icon-frown"></span></div>

      {{/if}}

    {{else}}

      <div class="custom-spinner">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
        <div class="bar6"></div>
        <div class="bar7"></div>
        <div class="bar8"></div>
        <div class="bar9"></div>
        <div class="bar10"></div>
        <div class="bar11"></div>
        <div class="bar12"></div>
      </div>

    {{/if}}

{{/view}}

{{/view}}


{{/with}}
