{{#with view}}

<div class="aside-left">

  {{#view Th.ScrollerView class="topcoat-list scroll-container" 
    tagName="ul" }}

    {{#view Th.CategoryView class="topcoat-list__item category-item" 
        tagName="li" 
        content="todos"
        selectedBinding="view._parentView._parentView.selectedCategory" }}
        Todos
     {{/view}}

    {{#each category in categories}}

      {{#view Th.CategoryView class="topcoat-list__item category-item" 
          tagName="li" 
          contentBinding="category"
          selectedBinding="view._parentView._parentView.selectedCategory" }}
              {{category.name}}
      {{/view}}
    {{/each}}
  {{/view}}

</div>

{{#view Th.LandingAsideFrontView class="aside-front" 
  action="closeCategory" }}

  <div id="landing-header" class="light-header-bar header">


    {{#view Th.TapView class="header-block is-left" 
      action="goToCategory"}}
      <div class="header-button is-left icon-reorder"></div>
    {{/view}}

    <div class="header-block is-middle">
      <div class="logo-layout">
        <div class="logo-header"></div>
      </div>
    </div>

    {{#view Th.TapView class="header-block is-right" 
      action="goToDate"}}
      <div class="header-button is-right icon-calendar"></div>
    {{/view}}

  </div>

  {{#view Th.ScrollerView class="topcoat-list__container scroll-container" 
    exclude="landing-header" }}

    {{#if isEventLoaded }}

      {{#if events.length }}

        <ul class="topcoat-list">

            {{#each event in events}}
              {{#view Th.EventView class="event-item topcoat-list__item" tagName="li" }}

                  <div class="event-title">

                    <div class="event-left">
                      {{event.title}}
                    </div>

                    <div class="event-right">
                      {{#if view.isContentVisible }}
                        <div class="event-toggle-icon icon-collapse-alt"></div>
                      {{else}}
                        <div class="event-toggle-icon icon-expand-alt"></div>
                      {{/if}}
                    </div>

                  </div>
                  <div class="event-content">
                    {{{event.content}}}
                  </div>
              {{/view}}
            {{/each}}

        </ul>

      {{else}}

          <div class="empty-text">Lo sentimos, no hay eventos para el día y categoría seleccionadas <span class="icon-frown"></span></div>


      {{/if}}

    {{else}}

          <div class="spinner"></div>

    {{/if}}

{{/view}}

{{/view}}


{{/with}}
